################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web_bán_hàng_(đồ_án)/Models/Category.cs
/Web_bán_hàng_(đồ_án)/Models/Customer.cs
/Web_bán_hàng_(đồ_án)/Models/Model1.Context.cs
/Web_bán_hàng_(đồ_án)/Models/Model1.Context.tt
/Web_bán_hàng_(đồ_án)/Models/Model1.cs
/Web_bán_hàng_(đồ_án)/Models/Model1.Designer.cs
/Web_bán_hàng_(đồ_án)/Models/Model1.edmx
/Web_bán_hàng_(đồ_án)/Models/Model1.edmx.diagram
/Web_bán_hàng_(đồ_án)/Models/Model1.tt
/Web_bán_hàng_(đồ_án)/Models/Order.cs
/Web_bán_hàng_(đồ_án)/Models/OrderDetail.cs
/Web_bán_hàng_(đồ_án)/Models/Product.cs
/Web_bán_hàng_(đồ_án)/Models/serviec.cs
/Web_bán_hàng_(đồ_án)/Models/User.cs
/Web_bán_hàng_(đồ_án)/Views/_ViewStart.cshtml
/Web_bán_hàng_(đồ_án)/Views/_ViewStart.cshtml
