


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.Header {
    background-color: black;
    color: White;
    padding: 15px;
    text-align: center;
    position: static;
    top: 0;
    z-index: 1000;
}

    .Header input[type="text"] {
        width: 50%;
        padding: 10px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        z-index: 1;
    }

nav {
    position: sticky;
    background-color: transparent;
    padding: 5px 10px 8px 10px;
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style: none;
    padding-right: 20px;
    margin: 0;
    display: flex;
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
}

    .menu > li {
        position: relative;
        margin-right: 20px;
    }

    .menu a {
        text-decoration: none;
        padding: 10px;
        color: #333;
    }

.menucon:hover, .menucon a:hover {
    color: #e63946;
    border-bottom: 2px solid #ff8906;
    padding-bottom: 8px;
}


.PhongCach {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 150px; /* Chi?u r?ng t?i thi?u */
}

.menu > li:hover .PhongCach {
    display: block;
}

.PhongCach li {
    padding: 5px 12px;
}

    .PhongCach li a {
        color: #333;
    }

        .PhongCach li a:hover {
            background-color: transparent;
            color: #e63946;
            padding-bottom: 8px;
        }


.PhongCach li {
    padding: 8px 12px;
    white-space: nowrap; /* Ng?n ng?a ng?t dòng */
}

.PhongCach > li:hover .Khoanggia, .PhongCach > li:hover .Thuonghieu, .PhongCach > li:hover .Day, .PhongCach > li:hover .Swissmade, .PhongCach > li:hover .Dacbiet, .PhongCach > li:hover .Dacbiet2 {
    display: block;
}

.Khoanggia > li, .Thuonghieu > li, .Day > li, .Swissmade > li, .Dacbiet > li {
    display: block;
    position: relative;
    padding: 10px 20px;
    list-style: none;
}

.Khoanggia, .Thuonghieu, .Day, .Swissmade, .Dacbiet {
    display: none;
    position: absolute;
    top: -5%;
    left: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 150px; /* Chi?u r?ng t?i thi?u */
}

.Dacbiet2 {
    display: none;
    position: absolute;
    top: 40%;
    left: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 150px; /* Chi?u r?ng t?i thi?u */
}

#menu2 {
    padding-right: 20px;
    display: flex;
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 2px;
    margin-right: 50px;
    justify-content: space-between;
}

.btn-login {
    height: 50px;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 15px;
}

.btn-giohang {
    height: 50px;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin-left: 20px;
    font-size: 15px;
}

    .btn-giohang:hover, .btn-login:hover {
        height: 50px;
        width: 120px;
        background-color: white;
        color: black;
        border-radius: 25px;
        margin-left: 20px;
        outline: none;
    }

@media (max-width: 768px) {
    .Header h1 {
        font-size: 1.5rem;
    }

    .Header input[type="text"] {
        width: 100%;
        margin-top: 10px;
    }
}

* {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #a09e9c;
    text-transform: initial;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

a, a:hover, a:active, a:focus {
    display: inline-block;
    text-decoration: none;
    color: #343a3f;
    font-size: 16px;
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #343a3f;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

p {
    margin: 0;
    color: #767f86;
    font-size: 14px;
    line-height: 1.8;
    text-transform: initial;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

    ul li {
        list-style: none;
    }

select, input, textarea, button {
    box-shadow: none;
    outline: 0 !important;
}

button {
    background: transparent;
    border: 0;
    font-size: 12px;
}

html, body {
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
}


footer {
    background-color: #2c2c2c;
    color: white;
    font-size: 14px;
}

    footer h5 {
        font-weight: bold;
        color: #f1c40f;
    }

    footer ul {
        list-style: none;
        padding: 0;
    }

        footer ul li {
            margin: 5px 0;
        }

            footer ul li a {
                color: white;
                text-decoration: none;
            }

                footer ul li a:hover {
                    text-decoration: underline;
                }





.container {
    margin-left: 150px; 
    margin-right: 150px; 
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.section-header {
    position: relative;
    text-align: center;
}

    .section-header h2 {
        color: #505866;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 24px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
    }

        .section-header h2 span {
            text-transform: lowercase;
        }

    .section-header p {
        font-size: 16px;
    }
/* section-header */
.fix {
    position: relative;
    clear: both;
}

/*----